---
layout: default
title: Sharing What I’ve Learned
---
<h1>Anthony Reimer’s Blog for Mac Admins</h1>
<p>This is my blog for Mac Admins, focusing on things that may be of interest to those who run Mac computer Labs like I do.</p>
<p>As of 2020, I have migrated all my presentation resources and blog-like posts that had appeared on the University of Calgary IAML web site to this personal site. The resource page is <a href="/resources/index.html">maclabs.jazzace.ca/resources/</a> and my blog-like posts have been posted here as if this blog existed when I wrote those posts. My <a href="/resources/hwswchart">Mac Hardware/Software Obsolescence Chart</a> has also been relocated here (you can always go to <a href="http://obsolescence.jazzace.ca">obsolescence.jazzace.ca</a> and be redirected to the right page).</p>
<p>For all my other personally-created content, go to my <a href="https://jazzace.ca/">personal web site</a> (Established 1996), also linked at the top of each page.</p>
<h2>Posts So Far:</h2>
{% assign postsByYear =
	site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
  <h4>{{ year.name }}</h4>
	<ul>
	  {% for post in year.items %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
{% endfor %}
