footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, hr {
  color: #f2f2f2;
  column-span: all;
}

footer li {
  color: #f2f2f2;
}

footer {
    column-count: 2;
    column-gap: 20px;
    font-size: 70%
}